body{
    background-color: lightskyblue;
}

.start{
   font-size: 20px ;
    margin-top: 10px; 
}

h1{
    font-size: 40px;
    margin: 10px;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: yellow;
    padding: 10px;
    width: max-content;
}